<%- include('./header') -%>
<% console.log(users) %> 

<%- include ('navbar') %> 
<div class="container mt-5">
    <a href="/authors"><button type="button" class="btn btn-primary">Back to Authors</button></a>
    
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user =>{%>
                <tr>
                  <th scope="row"><%= user.id %></th>
                  <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    <td>
                        <a href="" style="width: 8rem;" class="btn btn-outline-primary" type="button">User Post</a>
                        <a href="/admin/users/delete/<%= user.id %>" style="width: 8rem;" class="btn btn-danger" type="button">Delete</a>  
                    </td>
                </tr>
          <% }) %>
        </tbody>
      </table>
</div>

<%- include('./footer') -%>